.detailContainer{
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.imageContainer{
    width: 400px;
    height: 400px;
}

.infoContainer{
margin-right: 30px;
}

.precioDetail1{
    font-size: 25px;
}

.precioDetail2{
    font-size: 25px;
    color: rgb(2, 110, 15);
}

.detalles{
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: underline;
}








@media screen and (max-width: 600px) { 
    .detailContainer{
        display: grid;
        grid-template-columns: 2fr;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .imageContainer{
        width: 300px;
        height: 350px;
    }

    .precioDetail2{
        font-size: 20px;
        color: rgb(2, 110, 15);
    }
    
    .detalles{
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
        text-decoration: underline;
    }
}