.card{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 15px;
}    

.Link{
    text-decoration: none;
}

.cardItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    align-content: space-around;
    width: auto;
    height: auto;
}

.cardItem:hover{
    transform: scale(1.05);
    transition: 1s;
}

.cardContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
}

.precio{
    color: orangered;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  @media screen and (max-width: 600px) { 
    .card{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        
    }

    
}