.card{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 15px;
}    

.Link{
    text-decoration: none;
}

.cardItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    align-content: space-around;
    width: auto;
    height: auto;
    max-width: 330px;
}

.cardItem:hover{
    transform: scale(1.05);
    transition: 1s;
}

.cardContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
}

.precio{
    color: orangered;
}

.img {
    display: block;
    max-width: 350px;
    height: 65vh;
  }

  @media screen and (max-width: 600px) { 
    .card{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .cardItem{

        max-width: 280px;
    }

    .img {
        display: block;
        max-width: 280px;
        height: 37vh;
      }

    
}
  @media screen and (max-width: 400px) { 
    .card{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .cardItem{

        max-width: 200px;
    }

    .img {
        display: block;
        max-width: 200px;
        height: 33vh;
      }

    
}



@media (min-width: 600px ) and (max-width: 850px) { 

    .card{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .cardItem{

        max-width: 250px;
    }

    .img {
        display: block;
        max-width: 250px;
        height: 31vh;
      }
}