
.boton{
    font-size: 18px;
}

.boton2{
    font-size: 18px;
}


.boton:hover{
    background-color: #b8b8b8;

}


.cohete{
    background-color: white;
    padding: 2px;
    margin: 5px;
    width: 30px;
}


@media (max-width: 600px) {
  h2{
    font-size: 12px;
    margin-left: 10px;
  }

  .cohete{
    background-color: white;
    padding: 2px;
    margin: 2px;
    width: 20px;
}
}

@media (prefers-reduced-motion: no-preference) {
    .cohete {
      animation: cohete-logo-spin infinite 9s linear;
    }

    .cohete:hover {
      animation: cohete-logo-spin infinite 1s linear;
    }
  }
  
  @keyframes cohete-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (max-width: 600px){
    .boton{
      font-size: 16px;
    }

    .boton2{
      font-size: 16px;
  }
  }